<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/diff-tool"
                contextRoot="webapp/diff-tool">
        </webapp>
    </extension>

    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/diff-tool-admin"
                contextRoot="webapp/diff-tool-admin">
        </webapp>
    </extension>

    <extension
            point="com.polarion.portal.tomcat.webapps">
        <webapp
                name="polarion/diff-tool-app"
                contextRoot="webapp/diff-tool-app">
        </webapp>
    </extension>

</plugin>