.form-wrapper .in-progress-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 80%;
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.form-wrapper .in-progress-overlay.show {
    display: flex;
}

.property-wrapper {
    margin-top: 8px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.property-wrapper.hide, .buttons-wrapper.hide {
    display: none !important;
}

.property-wrapper label {
    margin-top: 2px;
    margin-bottom: 3px;
}

.property-wrapper label.fixed-width {
    display: inline-block;
}

.property-wrapper label.fixed-width.w-1 {
    width: 90px;
}

.property-wrapper label.fixed-width.w-2 {
    width: 200px;
}

.property-wrapper label input[type="checkbox"] {
    vertical-align: middle;
}

.property-wrapper select, .property-wrapper input {
    font-weight: 600;
    font-family: "Segoe UI", "Selawik", "Open Sans", Arial, sans-serif;
    font-size: 13px;
    border: 1px solid #cccccc;
    border-radius: 2px;
}

.property-wrapper input {
    padding: 2px 4px 4px .4rem;
}

.property-wrapper input.error {
    border-color: red;
    color: red;
}

.property-wrapper select {
    padding: 2px 2rem 4px .4rem;
}

.property-wrapper #select-revision-radios {
    display: flex;
}

.property-wrapper #select-revision-manual-input {
    display: block;
    width: 100%;
}

.property-wrapper #revision-enter-manually, .property-wrapper #baseline-checkbox {
    margin-left: 0;
}

.buttons-wrapper {
    margin: 10px 0;
}

.buttons-wrapper button {
    background-color: transparent;
    border: 1px solid #DEDEDE;
    color: #555;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.buttons-wrapper button:not(:first-child) {
    margin-left: 5px;
}

.buttons-wrapper button:disabled {
    text-shadow: white 1px 1px 0.01em;
    color: #C9D1D7;
    cursor: default;
}

.buttons-wrapper .divider {
    padding: 4px 0;
    width: 1px;
    border-right-color: #fff;
    border-left-color: #ccc;
}

.buttons-wrapper button img {
    margin-right: 6px;
    vertical-align: bottom;
}

.buttons-wrapper button:disabled img {
    opacity: 0.3;
}

.alert {
    display: none;
    font-weight: bold;
}

.alert-error {
    color: red;
}

.alert-warning {
    color: orange;
}

.alert-success {
    color: green;
}
