a, td, div, li, ul, input, button {
    font-family: "Segoe UI", "Selawik", "Open Sans", Arial, sans-serif;
}

.form-wrapper .in-progress-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 80%;
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.form-wrapper .in-progress-overlay.show {
    display: flex;
}

.property-wrapper {
    margin-top: 8px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.property-wrapper.hide, .buttons-wrapper.hide {
    display: none !important;
}

.property-wrapper label {
    margin-top: 2px;
    margin-bottom: 3px;
}

.property-wrapper label.fixed-width {
    display: inline-block;
}

.property-wrapper label.fixed-width.w-1 {
    width: 90px;
}

.property-wrapper label.fixed-width.w-2 {
    width: 200px;
}

.property-wrapper label input[type="checkbox"] {
    vertical-align: middle;
}

.property-wrapper select, .property-wrapper input {
    font-weight: 600;
    font-family: "Segoe UI", "Selawik", "Open Sans", Arial, sans-serif;
    font-size: 13px;
    border: 1px solid #cccccc;
    border-radius: 2px;
}

.property-wrapper input {
    padding: 2px 4px 4px .4rem;
}

.property-wrapper input.error {
    border-color: red;
    color: red;
}

.property-wrapper select {
    padding: 2px 2rem 4px .4rem;
}

.property-wrapper #select-revision-radios {
    display: flex;
}

.property-wrapper #select-revision-manual-input {
    display: block;
    width: 100%;
}

.property-wrapper #revision-enter-manually, .property-wrapper #baseline-checkbox {
    margin-left: 0;
}

.buttons-wrapper {
    margin: 10px 0;
}

.buttons-wrapper button {
    background-color: transparent;
    border: 1px solid #DEDEDE;
    color: #555;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.buttons-wrapper button:not(:first-child) {
    margin-left: 5px;
}

.buttons-wrapper button:disabled {
    text-shadow: white 1px 1px 0.01em;
    color: #C9D1D7;
    cursor: default;
}

.buttons-wrapper .divider {
    padding: 4px 0;
    width: 1px;
    border-right-color: #fff;
    border-left-color: #ccc;
}

.buttons-wrapper button img {
    margin-right: 6px;
    vertical-align: bottom;
}

.buttons-wrapper button:disabled img {
    opacity: 0.3;
}

.alert {
    display: none;
    font-weight: bold;
}

.alert-error {
    color: red;
}

.alert-warning {
    color: orange;
}

.alert-success {
    color: green;
}

.polarion-rp-column {
    width: 100%;
}

.polarion-DiffTool .header h3 {
    margin: 0 0 20px;
}

.polarion-DiffTool .header p {
    color: grey;
}

.polarion-DiffTool .main-pane {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 30px;
}

.polarion-DiffTool button {
    cursor: pointer;
    color: #595959;
    background: #f5f5f5;
    border: 1px solid #DEDEDE;
    border-radius: 2px;
    font-weight: 600;
    font-size: 12px;
    padding: 5px 10px;
}

.polarion-DiffTool button:hover {
    background: #f7f7f7;
    border: 1px solid #cecece;
    box-shadow: 0 0 2px #e0dede;
}

.polarion-DiffTool label {
    width: 100px;
}

.polarion-DiffTool input, .polarion-DiffTool select {
    border: 1px solid #cccccc;
    border-radius: 2px;
    font-weight: 600;
    font-family: "Segoe UI", "Selawik", "Open Sans", Arial, sans-serif;
    font-size: 13px;
}

.polarion-DiffTool input {
    padding: 5px 10px;
}

.query-input {
    flex-grow: 2;
}

#records-per-page-input {
    width: 50px;
}

.polarion-DiffTool select {
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAOUlEQVR4nGNgwAOKGRgY/qNhkBgDCwMDw0UkwasMDAysMF22DAwM/6ASjuhGLmVgYFiCzS5JKAYDACJtDIY1VpdwAAAAAElFTkSuQmCC) no-repeat;
    background-position: calc(100% - 1rem) 55% !important;
    padding: 5px 2rem 5px 10px;
}

.polarion-DiffTool input:hover, .polarion-DiffTool select:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}

.polarion-DiffTool input:focus {
    border-color: #40abc0;
}

.polarion-DiffTool .columns {
    display: flex;
}

.polarion-DiffTool .columns .column {
    flex-grow: 1;
}

.polarion-DiffTool .columns .column:first-of-type {
    padding-right: 40px;
    border-right: 1px solid #999;
}

.polarion-DiffTool .columns .column:last-of-type {
    padding-left: 40px;
}

.polarion-DiffTool .items-for-diff {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.polarion-DiffTool .target-project, .polarion-DiffTool .link-role, .polarion-DiffTool .configuration, .polarion-DiffTool .items-for-diff .query {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.polarion-DiffTool .query label:not(:first-child) {
    width: 110px;
    margin-left: 20px;
}

.polarion-DiffTool input.records-per-page {
    width: 40px;
}

.polarion-DiffTool .paginator {
    display: flex;
    margin: 20px 0 10px;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

.polarion-DiffTool .polarion-TestsExecutionButton-link {
    display: block;
}

.polarion-DiffTool .polarion-TestsExecutionButton-buttons {
    display: inline-block;
}

.polarion-DiffTool .polarion-TestsExecutionButton-buttons-content {
    min-width: auto;
}

.polarion-DiffTool .polarion-TestsExecutionButton-buttons-content-labelCell {
    padding: 10px;
}

.polarion-DiffTool .polarion-TestsExecutionButton-labelTextNew {
    font-size: 20px;
}

.polarion-DiffTool .polarion-TestsExecutionButton-buttons-defaultCursor .polarion-TestsExecutionButton-labelTextNew {
    color: gray;
}
